.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

 
.menu li{
  float: left;
  width: 120px;
}

.menu ul li ul{
      display: none;
    } 
 
.menu ul li:hover ul{
  display: block;
}
 
.menu ul li a{
  text-decoration: none;
  background: grey;
  display: block;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
}
 
.menu ul li ul li a{
  background: grey;
  text-align: left;
  padding: 5px;
  font-size: .8em;
}
 
.menu li a:hover{
  background-color: transparent;
  color: grey;
  transition: .5s;
}
 
.menu ul li ul li a:hover{

  padding-left: 15px;
  
}
.name{
  text-align: right;
  color: grey;
}
.chrome{
  width: 40px;
  height: 40px;
}
.cs{
  text-align: center;
  color: grey;
}
